{% extends "../store/base.html" %} 
{% load static %} {% block title %}Resumen de Carrito{% endblock %}
{% block content %}

<mani class="pt-5">
    <div class="container" style="max-width: 1000px">
        <div class="col-12">
            <h1 class="h2">Tu Pedido</h1>
        </div>
        <div class="col-12 d-flex justify-content-between">
            <div>Gestiona tus <b>pedidos</b> y datos personales</div>
            <div><a href="">Cambiar detalles</a></div>
        </div>
        <hr />
    </div>
    <div class="container" style="max-width: 1000px">
    </div>
</main>

{% endblock %}
