{% extends "store/base.html" %}
{% load static %}
{% block title %}Acerca de Nosotros{% endblock %}
{% block content %}

<style>
h1{
  text-align: center;  
}

p{
    margin-top: 15px;
    text-align: justify;
}

.img-us{
  width: 100%;
  height: 100%;;
}


</style>

<main class="px-3">
    <h1>Nosotros</h1>
    <br>
    <p class="lead">Jaguarete Akk es nuestra empresa familiar, inspirada por la moda, el hogar y la vida cotidiana. Integrando el amor y las posibilidades tecnológicas, creamos esta plataforma para que más gente pueda comprar desde la comodidad de sus casas en cualquier lado del país. Este año pudimos abrir nuestra primer local. Felices de poder seguir creciendo. Los esperamos!. 
    </p>
    <br>
    <img class="img-us" src="https://d3ugyf2ht6aenh.cloudfront.net/stores/001/419/788/themes/style/slide-1615419459044-2951529869-b800a89534299845d83f0574b534762d1615419466-1920-1920.png?1835459248">
    
  </main>

{% endblock %}