{% extends "store/base.html" %}
{% load static %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class= "col-md-5 col-lg-5 order-md-first bg-ligth">
                <form action="" method="post" enctype=multipart/form-data>
                {% csrf_token %}
                <img class="img-fluid mx-auto d-block" width="300px" alt="Responsive image" src="{{ product.image.url }}">
                <div>{{ArticuloForm.image.label}}</div>
                <div>{{ArticuloForm.image}}</div>
            </div>
            <div class= "col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <div="mb-0 h4">{{ ArticuloForm.title.label }}</div>
                <div>{{ ArticuloForm.title }}</div>
                <br>
                <div>{{ ArticuloForm.description.label }}</div>
                <div>{{ ArticuloForm.descripcion }}</div>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Precio</div>
                            <div class="col-6 text-end">${{ ArticuloForm.price.label }}</div>
                            <div>{{ ArticuloForm.price }}</div>
                        </div>
                    </div>
                
                        <div class="col-6 text-end">
                    <button type="button" id="add-button" value="{{product.id}}" class="btn btn-secondary btn-sm">Agregar al carrito</button></div>
                    </div>
                </div>
            </div>        
        </div>
    </main>

</div>

{% endblock %}